<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->

    {% include nav.html %}
    
<div class="container">

  <p>Danil Nagy is a Lead Designer and Principal Research Scientist with The Living group within Autodesk Research in New York City. His work and research focuses on computational design, generative geometry, advanced fabrication, machine learning, and data visualization.</p>
  <p>Danil was project manager of the Hy-Fi installation at the MoMA PS1 courtyard in Queens, New York, and is the design lead on the long-term collaboration between Autodesk and Airbus, including the Bionic Partition project. Danil has spoken and presented work at a variety of conferences and venues, including the Design Modelling Symposium in Copenhagen and Versaille, Biofabricate in New York City, Techonomy:Bio in Mountain View, ACADIA in Boston, and SIGGRAPH in Anaheim and Los Angeles.</p>
  <p>Danil teaches at the Graduate School of Architecture, Planning and Preservation (GSAPP) at Columbia University and in the Graduate Architecture and Urban Design (GAUD) program at Pratt Institute. His teaching focuses on architectural visualization, generative design, and applications of artificial intelligence.</p>
    
</div>
    
<div class="container">
  
  

    <!-- <div class="page-content"> -->
      <!-- <div class="wrapper"> -->
        {{ content }}
      <!-- </div> -->
    </div>

    
<hr>

    {% include footer.html %}

  </body>

</html>
